@import '../variables';

.sort {
	// position: relative;
	&__label {
		display: flex;
		align-items: center;

		svg {
			margin-right: 8px;
		}

		b {
			margin-right: 8px;
		}

		span {
			background-color: rgb(255, 245, 238);
			padding: 7px 20px;
			border-radius: 16px;
			color: $orange;
			cursor: pointer;
		}
	}

	&__popup {
		position: absolute;
		right: 0;
		margin-top: 15px;
		background: #ffffff;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
		padding: 10px 0;
		z-index: 10000;

		ul {
			overflow: hidden;
			li {
				padding: 12px 20px;
				cursor: pointer;

				&.active,
				&:hover {
					background: rgba(254, 95, 30, 0.05);
				}

				&.active {
					font-weight: bold;
					color: $orange;
				}
			}
		}
	}
}
