.combo__container {
	margin: 0px 130px 0px 130px;
	padding: 40px 0px 50px 0px;
	h1 {
		// font-weight: 500;
		// margin-bottom: 25px;
	}
	.combos {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.combo {
			width: 300px;
			.combo__description {
				font-size: 18px;
				font-weight: 400;
				color: rgb(92, 92, 92);
				margin-bottom: 10px;
			}
			.combo__title {
				font-weight: 600;
				font-size: 26px;
				margin-bottom: 5px;
			}
			.combo__price__add-cart {
				.combo__price {
					font-size: 18px;
					font-weight: 600;
				}
				width: 270px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
